.auth__main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth__wrapper-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 40px;
}

.auth__content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: 12px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.auth__content-wrapper {
  width: 350px;
  padding: 20px;
  background: white;
  border-radius: 4px;
  border: 1px solid $light-color;

  @media (max-width: 768px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.auth__btn-login {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none !important;
  box-shadow: none !important;
  width: 100%;
  background-color: $secondary-color;
  border-color: $secondary-color;

  &:focus {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
  }

  &:hover {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
  }
}

.auth__brand {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 65px;
  height: 65px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
