.journal___wrapper-main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.journal__main-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: grid;
  grid: 1fr/auto 1fr 0;
  background-color: $current-bg-color;
}

.journal__aside-wrapper {
  position: relative;
}

.journal__aside {
  grid-area: menu;
  display: grid;
  grid: 1fr/auto auto;
  height: 100vh;
  position: relative;
  background-color: $current-color;

  .journal__burger-menu {
    position: absolute;
    top: 18px;
    right: -9px;
    z-index: 750;
    cursor: pointer;

    span {
      font-size: 20px;
      color: $primary-color;
    }

    &.burger-open {
      @media (max-width: 728px) {
        right: -76vw;
        z-index: 800;
      }
    }
  }
}

.journal__aside-bar {
  width: 55px;
  height: 100%;
  padding-bottom: 30px;
  border-right: 1px solid #e9ebf0;
  background: #fff;
  display: grid;
  grid-template-rows: 1fr auto;
  will-change: transform, width;
  position: relative;
  overflow: hidden;
}

.journal__aside-menu {
  width: 299px;
  height: 100%;
  transition: transform .2s cubic-bezier(.785, .135, .15, .86) 0s;
  position: relative;
  max-width: 370px;
  padding: 15px 20px;
  will-change: transform, width;
  border-right: 1px solid #dedede;

  &.deactivate {
    display: none;
  }

  &.activate {
    display: block;
    animation: fadeIn;
    animation-duration: 500ms;
  }

  &.close-animation {
    animation: fadeOut;
    animation-duration: 500ms;
  }

  .journal__aside-menu-position {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 728px) {
    width: 87vw;
    position: absolute;
    z-index: 799;
    height: 100vh;
    background-color: #fff;
  }
}

.journal__aside-menu-head-user {
  width: 200px;
  padding: 10px 0;
}

.journal__body {
  height: 100%;
  max-height: 100vh;
  min-width: 0;
  min-height: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.journal__navbar {
  grid-area: header;
  text-align: right;
  height: 55px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  background-color: $current-color;
}

.journal__navbar-item {
  height: 100%;
  flex: none;
  padding: 10px 3px 0;
  margin: 0 5px;

  &.active {
    div {
      background-color: $current-bg-color;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-weight: bold;
      animation: fadeInUp;
      animation-duration: 350ms;
    }
  }

  div {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.journal__content {
  position: relative;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.journal__no-result {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  justify-content: center;
  align-items: center
}

.journal__help-icon {
  margin-bottom: 20px;
  color: rgba(100, 100, 100, .8);

  &:hover {
    color: rgba(70, 70, 70, 1);
    cursor: pointer;
  }
}

.journal__loading-save {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: -10px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: $dark-color;
  font-size: 12px;

  .ant-spin.ant-spin-spinning span {
    font-size: 18px;
  }
}
