.note__title {
  font-size: 38px;
  font-weight: 600;
  color: rgba(0, 0, 0, .85);
  background: $current-bg-color !important;
}

.note__content {
  background: $current-bg-color !important;
}

.note__click {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  color: $dark-color;
}

.note__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.note__avatar-uploader > .ant-upload {
  display: flex;
  justify-content: center;
  width: 128px;
  height: 128px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: 1px dashed $dark-color;
  background: $current-bg-color;
  overflow: hidden;
  padding: 2px;

  img {
    border-radius: 15px;
  }

  span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.note__avatar-uploader.note__avatar-uploader-err > .ant-upload {
  border: 1px solid $danger-color;

  span {
    color: $danger-color;
  }
}

.note__image {
  margin-top: 20px;
  width: 250px;
  height: 350px;
  object-fit: contain;
}
