.social__google-btn {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-right: 5px;
  background: white;

  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    border: 1px solid rgba(100, 100, 100, .2);
    border-radius: 4px;
    //box-shadow: 1px 1px 1px rgba(100, 100, 100, .2);

    span.label {
      font-family: serif;
      font-weight: normal;
    }

    span.icon {
      background-size: contain !important;
      background-repeat: no-repeat !important;
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }

    span.buttonText {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.social__google-btn:hover {
  cursor: pointer;
}
