.history__create-history {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 700;

  button {
    &:hover {
      height: 43px !important;
      border: 2px solid #3e46c6 !important;
      background: #3e46c6 !important;
    }
  }
}

.history__modal-create {

}
