*, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
}

//margin
.m-auto {
  margin: auto;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

//margin top
.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

//margin left
.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

//margin bottom
.mb-auto {
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

//margin right
.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

//padding
.p-0 {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.font-size-12 {
  font-size: 12px;
}

.text-primary {
  color: $primary-color;
}
.text-secondary {
  color: rgba(52, 52, 52, .5);
}

.text-danger {
  color: $danger-color;
}

.ant-tree-switcher {
  display: flex !important;
  align-items: center !important;
}

.ant-tree-treenode {
  width: 100%;
}

.ant-tree-node-content-wrapper {
  width: 100% !important;
  border-radius: 4px !important;
  padding: 7px !important;

  &.ant-tree-node-selected {
    background-color: #f6f6f6 !important;
  }

  &.ant-tree-node-content-wrapper-open {
    background-color: #f4f4f4 !important;
  }
}

.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
  padding: 7px !important;

  &.ant-tree-node-selected {
    background-color: $primary-color !important;
    color: $current-color;
  }
}

.ant-form-horizontal {
  .ant-form-item {
    margin: 0 0 12px;
  }
}

.ant-form-item-label {
  padding-bottom: 0 !important;

  > label {
    font-size: 12px !important;
    color: $dark-color !important;
  }
}

p {
  color: $dark-color !important;
}

.beauty-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  @media (max-width: 728px) {
    width: 2px;
    height: 2px;
  }
}

.beauty-scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.beauty-scroll::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border: 0 none #ffffff;
  border-radius: 50px;
}

.beauty-scroll::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.beauty-scroll::-webkit-scrollbar-thumb:active {
  background: #8a8a8a;
}

.beauty-scroll::-webkit-scrollbar-track {
  background: #d6d6d6;
  border: 0 none #ffffff;
  border-radius: 50px;
}

.beauty-scroll::-webkit-scrollbar-track:hover {
  background: #d6d6d6;
}

.beauty-scroll::-webkit-scrollbar-track:active {
  background: #d6d6d6;
}

.beauty-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.input-create {
  outline: none !important;
  border: none !important;
  background-color: #f6f6f6;

  &:focus {
    box-shadow: 0 0 0 2px $current-bg-color;
  }
}

.ant-btn {
  border-radius: 4px !important;

  &.ant-btn-primary {
    background: $primary-color !important;
  }
}

.ant-row.ant-form-item {
  margin: 0 0 5px !important;
}

.ant-form-item-explain-error {
  min-height: auto !important;

  div {
    font-size: 12px !important;
  }
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
  padding: 5px 20px !important;
}

.ant-modal-content {
  border-radius: 15px !important;
  overflow: hidden !important;
}

.ant-modal-footer {
  border-top: none !important;
}
