@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

//Colors
$primary-color: #5C62C5;
$danger-color: #fa541c;
$current-color: #FFFFFF;
$current-bg-color: #EEEEEE;
$secondary-color: #5fc55c;
$black-color: #363636;
$dark-color: #737373;
$light-color: #d8d8d8;
